
h2 {    
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;  
    background-color: whitesmoke;    
    text-align: center;
    }

p {
    white-space: pre;
    font-family: 'Poppins', sans-serif;
    color: black   
}



@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}


